openapi: 3.0.0
info:
  title: Utila Address Book Transactions API
  version: v2
servers:
- url: https://api.utila.io
security:
- bearerAuth: []
tags:
- name: Transactions
paths:
  /v2/vaults/{vault_id}/transactions/{transaction_id}:
    get:
      summary: GetTransaction
      description: Retrieves a transaction by resource name.
      operationId: Transactions_GetTransaction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GetTransactionResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      - name: includeReferencedResources
        description: Include referenced resources in the response.
        in: query
        required: false
        schema:
          type: boolean
      - name: view
        description: "The view of the transaction.\n\n - BASIC: The default view. Does not include certain fields such as blocking transactions.\n - FULL: Full view, include all fields."
        in: query
        required: false
        schema:
          type: string
          enum:
          - BASIC
          - FULL
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions:batchGet:
    get:
      summary: BatchGetTransactions
      description: Retrieves multiple transactions by resource name.
      operationId: Transactions_BatchGetTransactions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2BatchGetTransactionsResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: names
        description: 'The resource names of the transactions to retrieve.


          Format: `vaults/{vault_id}/transactions/{transaction_id}`'
        in: query
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: includeReferencedResources
        description: Include referenced resources in the response.
        in: query
        required: false
        schema:
          type: boolean
      - name: view
        description: "The view of the transaction.\n\n - BASIC: The default view. Does not include certain fields such as blocking transactions.\n - FULL: Full view, include all fields."
        in: query
        required: false
        schema:
          type: string
          enum:
          - BASIC
          - FULL
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions:
    get:
      summary: ListTransactions
      description: Retrieve a list of all transactions in a vault.
      operationId: Transactions_ListTransactions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListTransactionsResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: filter
        description: 'A filter string to filter the results.

          More details about filtering can be found in the [Filtering Documentation Page](https://docs.utila.io/reference/filtering).


          Supported fields and functions:

          | Name | Description | Example |

          |------|-------------|---------|

          | `create_time` | Filter by creation time (`string` comparison). | `create_time > "2023-08-29T18:04:00Z"` |

          | `state` | Filter by one or more states (`enum...`). | `state(AWAITING_APPROVAL,AWAITING_SIGNATURE)` |

          | `spam` | Filter by spam status (`bool`). | `spam(false)` |

          | `from_wallet` | Filter by one or more source wallets (`string...`). | `from_wallet("vaults/123456789012/wallets/5a8b8085ccd0")` |

          | `to_wallet` | Filter by one or more destination wallets (`string...`). | `to_wallet("vaults/123456789012/wallets/5a8b8085ccd0")` |

          | `pending_user_approval` | Filter by user for which the transaction is awaiting approval (`string`). | `pending_user_approval("users/name@example.com")` |

          | `asset` | Filter by one or more assets (`string...`). Supports v2 asset aliases. | `asset("assets/erc20.ethereum-mainnet.0x6b175474e89094c44da98b954eedeac495271d0f")` |

          | `external_id` | Filter by client-provided external ID (`string`). | `external_id("order-123")` |'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'SQL-like ordering specifications.

          Supports the field `create_time`.'
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of items to return. The service may return fewer than

          this value.


          If unspecified, at most 50 will be returned.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: 'A page token, received from the previous list call as `nextPageToken`.

          Provide this to retrieve the subsequent page.


          When paginating, all other parameters must match the call that provided

          the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: skip
        description: 'How many results to skip.


          Note: may be used alongside token-based pagination (see `pageToken`),

          although this won''t be needed for most use cases.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: includeReferencedResources
        description: Include referenced resources in the response.
        in: query
        required: false
        schema:
          type: boolean
      - name: view
        description: "The view of the transaction.\n\n - BASIC: The default view. Does not include certain fields such as blocking transactions.\n - FULL: Full view, include all fields."
        in: query
        required: false
        schema:
          type: string
          enum:
          - BASIC
          - FULL
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions:initiate:
    post:
      summary: InitiateTransaction
      description: Initiate a new transaction.
      operationId: Transactions_InitiateTransaction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2InitiateTransactionResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsInitiateTransactionBody'
        required: true
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactionRequests/{transaction_request_id}:vote:
    post:
      summary: VoteOnTransactionRequest
      description: Vote on a transaction request.
      operationId: Transactions_VoteOnTransactionRequest
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2VoteOnTransactionRequestResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_request_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsVoteOnTransactionRequestBody'
        required: true
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions:estimateFee:
    post:
      summary: EstimateTransactionFee
      description: Estimate the fee for a transaction.
      operationId: Transactions_EstimateTransactionFee
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2EstimateTransactionFeeResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsEstimateTransactionFeeBody'
        required: true
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions/{transaction_id}/simulations/latest:
    get:
      summary: GetLatestTransactionSimulation
      operationId: Transactions_GetLatestTransactionSimulation
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GetLatestTransactionSimulationResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      - name: includeReferencedResources
        description: Include referenced resources in the response.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions/{transaction_id}:cancel:
    post:
      summary: CancelTransaction
      description: 'Cancels a transaction. Used to cancel a transaction before it is signed.


        Only the transaction''s initiator or an admin can cancel a transaction.


        If the transaction has already been signed, use

        [ReplaceTransaction](#tag/Transactions/operation/Transactions_ReplaceTransaction) instead.'
      operationId: Transactions_CancelTransaction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2CancelTransactionResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions/{transaction_id}:replace:
    post:
      summary: ReplaceTransaction
      description: 'Creates a new transaction that replaces an existing signed transaction in the system which has not been mined yet.


        Only works for blockchains that support replacement of signed transactions, e.g.

        - Ethereum - which has nonce management.

        - BTC - which has RBF (Replace-By-Fee) and CPFP (Child-Pays-For-Parent) mechanisms.


        Some blockchains do not support transaction replacement, e.g. TRON - which is based on

        transaction expiration time - for these cases, the transaction will be either mined or

        expired after the configured expiration time.


        If the transaction has not been signed yet, and you wish to cancel it, use

        [CancelTransaction](#tag/Transactions/operation/Transactions_CancelTransaction)

        instead.'
      operationId: Transactions_ReplaceTransaction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ReplaceTransactionResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsReplaceTransactionBody'
        required: true
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions/{transaction_id}:publish:
    post:
      summary: PublishTransaction
      description: 'Manually publishes a signed transaction to the blockchain. This endpoint synchronously

        broadcasts the transaction to the network and returns the updated transaction details.

        The transaction must be fully signed before publishing.


        **Note:** Currently only available for EVM-compatible blockchains. Support for additional

        blockchains will be added in future releases.'
      operationId: Transactions_PublishTransaction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2PublishTransactionResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsPublishTransactionBody'
        required: true
      tags:
      - Transactions
  /v2/vaults/{vault_id}/transactions/{transaction_id}/amlScreening:
    get:
      summary: GetTransactionAMLScreening
      description: If the transaction was screened for AML, this endpoint will return the results. Relevant where screening is configured.
      operationId: Transactions_GetTransactionAMLScreening
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GetTransactionAMLScreeningResponse'
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Transactions
components:
  schemas:
    BatchAssetTransferBatchTransferDestination:
      type: object
      properties:
        destination:
          type: string
          description: 'The destination of the transfer.


            Can be one of the following:

            1. A raw string address (example: `0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48` or `bc1q3vfght7rln2c3733dl42navt8pslfya7talfns`)

            2. A wallet: `vaults/{vault_id}/wallets/{wallet_id}`.

            3. A specific wallet address: `vaults/{vault_id}/wallets/{wallet_id}/addresses/{address_id}`.'
        amount:
          type: string
          description: 'The amount of the asset to transfer for this entry in asset units.


            Example: `1.1`.'
        note:
          type: string
          description: 'The note to attach to the transfer.


            This note will be visible to all vault members.'
      title: BatchTransferDestination
      required:
      - destination
      - amount
    v2DecodedAptosTransactionPayload:
      type: object
      properties:
        entryFunction:
          $ref: '#/components/schemas/v2DecodedAptosEntryFunction'
    v2CantonTokenDetails:
      type: object
      properties:
        instrumentId:
          type: string
          description: The instrument ID.
        instrumentAdmin:
          type: string
          description: The instrument admin.
    v2DecodedAptosEntryFunction:
      type: object
      properties:
        function:
          type: string
        typeArguments:
          type: array
          items:
            type: string
        arguments:
          type: array
          items:
            type: string
      required:
      - function
      - typeArguments
      - arguments
    v2WalletTonDetails:
      type: object
      properties:
        address:
          type: string
          description: The address of the wallet.
          readOnly: true
    v2EVMSignTypedDataV4:
      type: object
      properties:
        fromAddress:
          type: string
          description: 'The address to sign the message with.


            Can be one of the following:

            1. A `0x`-prefixed hex string address, must be matched by a wallet address in the current vault (example: `0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48`)

            2. A wallet resource name: `vaults/{vault_id}/wallets/{wallet_id}`

            3. A specific wallet address resource name: `vaults/{vault_id}/wallets/{wallet_id}/addresses/{address_id}`'
        message:
          type: string
          description: 'An EIP-712 json string.


            See https://eips.ethereum.org/EIPS/eip-712 for more information.'
      required:
      - fromAddress
      - message
    AssetTransferStellarOptions:
      type: object
      properties:
        memo:
          description: 'Optional typed memo for Stellar native and token transfers.


            When set, the type must be explicit (TEXT, ID, HASH, or RETURN).

            See StellarTransaction.Memo for format and validation rules.

            If not set for a Stellar transfer, no memo is attached.'
          allOf:
          - $ref: '#/components/schemas/apiv2StellarTransactionMemo'
      title: Blockchain specific options for Stellar Asset Transfer
    BTCTransactionUTXOOut:
      type: object
      properties:
        address:
          description: Output address.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        amount:
          type: string
          description: Amount in asset unit (BTC).
        change:
          type: boolean
          description: True when this output is the change output.
        changeUserSelected:
          type: boolean
          description: 'True when the change address was supplied by the user; false when auto-generated.

            Only meaningful when `change` is true.'
    TransactionTonTransaction:
      type: object
      properties:
        sender:
          description: Ths source address of the transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        seqno:
          type: string
          format: int64
          description: The sequence number of the transaction.
        messages:
          type: array
          items:
            $ref: '#/components/schemas/TransactionTonTransactionMessage'
          title: The messages posted to the blockchain
        memo:
          type: string
          description: The memo of the transaction.
        validUntil:
          type: string
          format: int64
          description: The time the transaction is valid until.
        amount:
          type: string
          description: The native amount passed to the transaction.
    v2TronResourceFee:
      type: object
      properties:
        consumed:
          type: string
          description: The amount of the resource consumed.
        burned:
          type: string
          description: The amount of TRX burned for this resource.
        convertedBurned:
          description: The converted (fiat) value of the TRX burned for this resource.
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
      description: Resource-level fee breakdown for a Tron resource (bandwidth or energy).
    v2TransactionTonProof:
      type: object
      properties:
        address:
          type: string
          description: 'The address of the signer.

            In Raw address format.


            Example: `0:1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef`.'
        appDomain:
          type: string
          title: The domain of the app requested the proof
        payload:
          type: string
          description: The payload to sign.
        timestamp:
          type: string
          format: int64
          description: The time at which the signature was created.
        signature:
          type: string
          description: The signature of the payload.
    v2AddressBookEntry:
      type: object
      properties:
        name:
          type: string
          example: vaults/1b25635a5b3f/addressBookEntries/95257c5a522f
          description: 'The resource name of the address book entry.


            Format: `vaults/{vault_id}/addressBookEntries/{entry_id}`'
          readOnly: true
        address:
          type: string
          example: '0x742d35Cc6634C0532925a3b8D4C9db96C4b4d8b6'
          description: The blockchain address.
        displayName:
          type: string
          example: My DeFi Wallet
          description: A human-readable name for the address.
        network:
          type: string
          example: networks/ethereum-mainnet
          description: 'The resource name of the network this address belongs to.


            Format: `networks/{network_id}`'
        note:
          type: string
          example: This is my main trading wallet
          description: Optional note attached to the address.
        createTime:
          type: string
          format: date-time
          example: '2023-01-15T10:30:00Z'
          description: Output only. Creation time.
          readOnly: true
        tracked:
          type: boolean
          description: If true, assets of this address should be tracked by Utila.
        associatedExternalWallet:
          type: string
          example: vaults/1b25635a5b3f/wallets/95257c5a522f
          description: 'The wallet that is associated with this address.

            Only set if `tracked` is true.


            Format: `vaults/{vault_id}/wallets/{wallet_id}`'
          readOnly: true
        creator:
          type: string
          example: users/1b25635a5b3f/users/95257c5a522f
          description: 'Output only. The user who issued the address book entry creation.


            Format: `users/{user_id}`'
          readOnly: true
        signed:
          type: boolean
          description: 'Output only.

            Whether the address book entry is cryptographically signed after going through the quorum approval process.'
          readOnly: true
      description: An address book entry.
      required:
      - address
      - displayName
      - network
    v2CancelTransactionResponse:
      type: object
    DecodedCallArg:
      type: object
      properties:
        name:
          type: string
          title: 'The name of the argument, for example: "dest"'
        type:
          type: string
          title: 'The type of the argument, for example: "AccountId"'
        value:
          type: string
          title: 'The value of the argument as a hex encoded byte array, for example: "0x1234"'
    v2TransactionTronTransaction:
      type: object
      properties:
        triggerSmartContract:
          $ref: '#/components/schemas/v2TransactionTronTransactionTriggerSmartContract'
        freezeBalanceV2:
          $ref: '#/components/schemas/v2TransactionTronTransactionFreezeBalanceV2'
        unfreezeBalanceV2:
          $ref: '#/components/schemas/v2TransactionTronTransactionUnfreezeBalanceV2'
        withdrawExpireUnfreeze:
          $ref: '#/components/schemas/v2TransactionTronTransactionWithdrawExpireUnfreeze'
        delegateResource:
          $ref: '#/components/schemas/v2TransactionTronTransactionDelegateResource'
        undelegateResource:
          $ref: '#/components/schemas/v2TransactionTronTransactionUnDelegateResource'
        cancelAllUnfreezeV2:
          $ref: '#/components/schemas/v2TransactionTronTransactionCancelAllUnfreezeV2'
        voteWitness:
          $ref: '#/components/schemas/v2TransactionTronTransactionVoteWitness'
        withdrawBalance:
          $ref: '#/components/schemas/v2TransactionTronTransactionWithdrawBalance'
        transferContract:
          $ref: '#/components/schemas/TronTransactionTransferContract'
        fee:
          description: The fee details of the transaction.
          allOf:
          - $ref: '#/components/schemas/v2TronTransactionFee'
        signature:
          type: string
          format: byte
          description: "ECDSA signature (65 bytes) of the transaction.\n\nAvailable when the transaction has been signed.\n\nEncoded in standard TRON format:\n  - Bytes [0-31]: R component (32 bytes, big-endian)\n  - Bytes [32-63]: S component (32 bytes, big-endian)\n  - Byte [64]: V component (recovery identifier)"
          readOnly: true
    apiv2Address:
      type: object
      properties:
        value:
          type: string
          description: The actual address.
        infoRef:
          type: string
          description: 'If it''s an address in the vault (e.g., a wallet address), a reference to address information will be listed here.

            Address information can be fetched from `ReferencedAddressesInfo` map with the reference as the key.


            Will be populated only if `includeReferencedResources` is set to `true`.'
    apiUserStatusEnum:
      type: string
      enum:
      - PENDING
      - ACTIVE
    WalletSolanaDetails:
      type: object
      properties:
        address:
          type: string
          description: The address of the wallet.
          readOnly: true
    v2TransactionReplacementTypeEnum:
      type: string
      enum:
      - CANCEL
      - ACCELERATE
      description: "The type of the replacement.\n\n - CANCEL: Cancel the transaction.\n - ACCELERATE: Accelerate the transaction."
    v2BatchAssetTransfer:
      type: object
      properties:
        asset:
          type: string
          example: assets/native.ethereum-mainnet
          description: "The asset to transfer.\n\nCan be one of the following:\n1. A raw asset name `assets/{asset_id}` (example: `assets/e72ff35a5b15`)\n2. A native asset name `assets/native.{network_id}` (example: `assets/native.ethereum-mainnet`)\n3. An ERC20 asset name `assets/erc20.{network_id}.{contract}` (example: `assets/erc20.ethereum-mainnet.0x6b175474e89094c44da98b954eedeac495271d0f`)\n\nSupported Assets: The native currency of the network and ERC20 tokens.\n\n **Note: ERC20 asset transfers require an approval. See [GetLatestBatchContract](#tag/Blockchains/operation/Blockchains_GetLatestBatchContract) for more information.**\n\n\nSupported Networks: Ethereum and Polygon (Sepolia and Mumbai)"
        source:
          type: string
          description: 'The source of the transfer.


            Can be one of the following:

            1. A raw string address, (example: `0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48`)

            2. A wallet containing the asset: `vaults/{vault_id}/wallets/{wallet_id}`

            3. A specific wallet address containing the asset: `vaults/{vault_id}/wallets/{wallet_id}/addresses/{address_id}`


            For Bitcoin, only wallet source is supported (the second option).'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/BatchAssetTransferBatchTransferDestination'
          description: The batch transfer destinations.
      required:
      - asset
      - source
      - destinations
    v2TransactionTronTransactionTriggerSmartContract:
      type: object
      properties:
        ownerAddress:
          description: 'The source of the transaction.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        contractAddress:
          description: 'The smart contract address.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        callValue:
          type: string
          format: int64
          description: 'The amount of SUN passed into the contract (1 TRX = 1,000,000 SUN).


            Example: `500000`.'
        data:
          type: string
          description: 'Hex encoded transaction data. This field will be returned only in FULL view.


            Example: `0xa9059cbb0000000000000000000000002ed5dd8a98aea00ae32517742ea5289761b2710e0000000000000000000000000000000000000000000000000000000ba43b7400`.'
    v2Transaction:
      type: object
      properties:
        name:
          type: string
          example: vaults/1b25635a5b3f/transactions/95257c5a522f
          description: 'The resource name of the transaction.


            Format: `vaults/{vault_id}/transactions/{transaction_id}`.'
          readOnly: true
        type:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionTypeEnum'
        subType:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionSubTypeEnum'
        state:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionStateEnum'
        direction:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionDirectionEnum'
        note:
          type: string
          description: 'A note to attach to the transaction.


            This note is visible to all vault members.'
        network:
          type: string
          example: networks/ethereum-mainnet
          description: 'The blockchain network on which the transaction was sent.


            Not available for connection transactions (e.g., Exchanges)


            Format: `networks/{network_id}`'
        hash:
          type: string
          description: For on-chain transactions, the hash of the transaction.
        blockNumber:
          type: string
          description: For on-chain transactions, the block number of the transaction if it was mined.
        signingSession:
          type: string
          example: vaults/2d2e40r3/signingSessions/132e40r3
          description: Available when the transaction has been prepared for signing / signed.
        request:
          description: The request details of the transaction. Relevant only for transactions initiated through Utila.
          allOf:
          - $ref: '#/components/schemas/v2TransactionRequest'
        amlDetails:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/TransactionAMLDetails'
        gasStationOrder:
          type: string
          title: The gas station order name
          readOnly: true
        transfers:
          type: array
          items:
            $ref: '#/components/schemas/TransactionTransfer'
          description: If there one or more transfers in the transaction, they will be listed here.
        tokenAllowances:
          type: array
          items:
            $ref: '#/components/schemas/TransactionTokenAllowance'
          description: If there one or more token allowances in the transaction, they will be listed here.
        designatedSigners:
          type: array
          example:
          - users/name@example.com
          items:
            type: string
          description: 'If the transaction is designated to be signed by a specific signer, this field should be set.


            Format: `users/{email}` or `users/{id}`


            Example: `["users/name@example.com"]` or `["users/a3e4f5"]`'
        evmTransaction:
          description: 'For EVM-Compatible transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/v2TransactionEVMTransaction'
        evmMessage:
          description: If this is an EVM message, the message will be listed here.
          allOf:
          - $ref: '#/components/schemas/TransactionEVMMessage'
        evmAccountDelegation:
          description: If this is an EVM authorization, the authorization will be listed here.
          allOf:
          - $ref: '#/components/schemas/v2TransactionEVMAccountDelegation'
        tronTransaction:
          description: If this is a TVM transaction, the transaction will be listed here.
          allOf:
          - $ref: '#/components/schemas/v2TransactionTronTransaction'
        btcTransaction:
          description: 'For BTC transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionBTCTransaction'
        btcPsbt:
          description: 'For BTC PSBT: Details of the PSBT transaction.'
          allOf:
          - $ref: '#/components/schemas/v2TransactionBTCPSBT'
        aptosTransaction:
          description: 'For APTOS transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionAptosTransaction'
        suiTransaction:
          description: 'For SUI transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionSuiTransaction'
        suiSignPersonalMessage:
          description: Represents a Sui signPersonalMessage message.
          allOf:
          - $ref: '#/components/schemas/v2TransactionSuiSignPersonalMessage'
        xrplTransaction:
          description: 'For XRPL transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionXRPLTransaction'
        substrateTransaction:
          $ref: '#/components/schemas/TransactionSubstrateTransaction'
        tonTransaction:
          description: 'For TON transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionTonTransaction'
        tonSignData:
          description: Represents a TON SignData message.
          allOf:
          - $ref: '#/components/schemas/v2TransactionTonSignData'
        tonProof:
          description: Represents a TON Proof message.
          allOf:
          - $ref: '#/components/schemas/v2TransactionTonProof'
        solanaSignMessage:
          description: Represents a Solana signMessage message.
          allOf:
          - $ref: '#/components/schemas/v2TransactionSolanaSignMessage'
        solanaTransaction:
          description: 'For Solana transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/v2TransactionSolanaTransaction'
        thetaTransaction:
          description: 'For Theta transaction: Low level transaction details.'
          allOf:
          - $ref: '#/components/schemas/TransactionThetaTransaction'
        stellarTransaction:
          description: Represents a Stellar transaction.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionStellarTransaction'
        aleoTransaction:
          description: Represents an Aleo transaction.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/TransactionAleoTransaction'
        createTime:
          type: string
          format: date-time
          description: The time at which the transaction was created in the system.
          readOnly: true
        mineTime:
          type: string
          format: date-time
          description: The time at which the transaction was mined.
          readOnly: true
        confirmTime:
          type: string
          format: date-time
          description: The time at which the transaction was confirmed.
          readOnly: true
        expireTime:
          type: string
          format: date-time
          description: The time at which the transaction was expired.
          readOnly: true
        spam:
          type: boolean
        replacementTransaction:
          type: string
          description: If the current transaction is dropped, the transaction that replaced it will be listed here.
          readOnly: true
    v2TransactionEVMTransactionAuthorization:
      type: object
      properties:
        signer:
          description: The signer address.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        contractAddress:
          description: The address of the contract the account is delegating to.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        nonce:
          type: string
          format: int64
          description: The nonce of the account for the delegation.
        chainId:
          type: string
          description: The chain ID of the delegation.
        signature:
          type: string
          format: byte
          description: The signature of the delegation.
    v2TransactionAMLScreening:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/TransactionAMLScreeningProviderEnum'
        rawResponses:
          type: array
          items:
            type: string
    WalletCreateParams:
      type: object
      properties:
        walletGroups:
          type: array
          example:
          - vaults/1b25635a5b3f/walletGroups/95257c5a522f
          items:
            type: string
          description: 'Wallet will be assigned to these wallet groups upon creation.

            Each group must support assignment of empty wallets on creation in the dedicated group setting.


            Format: `vaults/{vault_id}/walletGroups/{wallet_group_id}`.'
      description: Parameters only used during wallet creation.
    v2ConvertedValue:
      type: object
      properties:
        amount:
          type: string
          description: The amount in USD.
          readOnly: true
        currencyCode:
          type: string
          description: The currency code of the amount. Always USD.
          readOnly: true
      description: A message representing a converted value.
    StellarTransactionDecodedOperationBodySEP41Payment:
      type: object
      properties:
        spenderAddress:
          description: 'The address that authorized the transfer by consuming its allowance.

            Only set when the underlying SEP41 function is `transfer_from`; unset

            for a plain `transfer` (where the source address authorizes the

            transfer itself).'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        sourceAddress:
          title: 'The source of funds for the transfer. This address that authorized the

            in case of a `transfer` call (i.e. the spender_address is empty)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        destinationAddress:
          description: The destination of funds for the transfer.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        contractAddress:
          type: string
          description: 'Example: `CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ`.'
          title: The soroban contract address of the transferred token
        assetRef:
          type: string
          description: 'A weak reference to the asset. The reference is not guaranteed to be valid.


            Example: `assets/asset.stellar-mainnet.CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ`.'
        rawAmount:
          type: string
          description: 'The raw amount (without decimals) of the payment.


            Example: `10000000`.'
    OperationBodySEP41Payment:
      type: object
      properties:
        spenderAddress:
          type: string
          description: 'The address that will authorize the transfer by consuming its

            allowance on `source_address`.


            When set, the transfer is built as a SEP41 `transfer_from` call where

            `spender_address` must have a sufficient pre-existing allowance on

            `source_address`''s balance. When unset, the transfer is built as a

            plain `transfer` call authorized by `source_address` itself.


            A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        sourceAddress:
          type: string
          description: 'A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        destinationAddress:
          type: string
          description: 'A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        contractAddress:
          type: string
          example: CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ
          description: 'The soroban contract address of the token to transfer.


            A contract address of a SEP41 token (example: `CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ`).'
        rawAmount:
          type: string
          description: 'Example: `10000000`.'
      required:
      - sourceAddress
      - destinationAddress
      - contractAddress
      - rawAmount
    apiv2StellarTimeBounds:
      type: object
      properties:
        minUnixTime:
          type: string
          format: int64
          description: Minimum time (Unix timestamp).
        maxUnixTime:
          type: string
          format: int64
          description: Maximum time (Unix timestamp).
      required:
      - maxUnixTime
    v2VoteOnTransactionRequestRequestVote:
      type: string
      enum:
      - APPROVE
      - DENY
      description: The vote to cast on the transaction request.
    apiv2StellarTransaction:
      type: object
      properties:
        network:
          type: string
          example: networks/stellar-mainnet
          description: 'The resource name of the network of the transaction.


            Format: `networks/{network_id}`.'
        sourceAddress:
          type: string
          description: 'The source of the transaction.


            A Utila wallet Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).

            The address which will publish the transaction.'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/v2StellarTransactionOperation'
          description: The operations to include in the transaction.
        memo:
          description: Optional memo to attach to the transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2StellarTransactionMemo'
        fee:
          type: string
          format: int64
          description: Optional fee in stroops. If not provided, the network will determine the fee.
        timeBounds:
          description: Optional timebounds for the transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2StellarTimeBounds'
        publish:
          type: boolean
          description: 'Set to true if you wish for Utila to automatically broadcast the transaction after it is signed. Default: true.'
      required:
      - network
      - sourceAddress
      - operations
    v2BTCTransferUTXO:
      type: object
      properties:
        txHash:
          type: string
          example: 4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b
          description: The hash of the transaction that created this UTXO.
        vout:
          type: integer
          format: int32
          example: 0
          description: 'The output index in the transaction.

            '
      description: A specific UTXO to use as an input.
      required:
      - txHash
      - vout
    TransactionTransferPublicToPrivate:
      type: object
      properties:
        sender:
          $ref: '#/components/schemas/apiv2Address'
        recipient:
          $ref: '#/components/schemas/apiv2Address'
        amount:
          type: string
    TransactionSubstrateTransaction:
      type: object
      properties:
        fromAddress:
          description: 'The source of the transfer. A `0x`-prefixed hex string address.

            The extrinsic dispatcher''s address.'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        nonce:
          type: string
          format: int64
          description: The nonce of the transaction.
        encodedCall:
          type: string
          title: The hex encoded call
        call:
          title: The decoded representation of the call to be made
          allOf:
          - $ref: '#/components/schemas/SubstrateTransactionDecodedCall'
        genesisHash:
          type: string
          title: The hex encoded genesis hash of the chain
    TransactionEVMMessage:
      type: object
      properties:
        type:
          description: The type of the message.
          allOf:
          - $ref: '#/components/schemas/TransactionEVMMessageTypeEnum'
        message:
          type: string
          description: The payload of the message as a plain UTF-8 string.
        signature:
          type: string
          format: byte
          description: ECDSA signature (65 bytes) of the message.
    WalletconnectSessionPeer:
      type: object
      properties:
        uri:
          type: string
          description: The URI of the peer.
        name:
          type: string
          description: The name of the peer.
        description:
          type: string
          description: The description of the peer.
        icon:
          type: string
          description: The icon of the peer.
    TransactionsInitiateTransactionBody:
      type: object
      properties:
        details:
          example:
            assetTransfer:
              asset: assets/native.ethereum-mainnet
              amount: '1.5'
              source: vaults/1b25635a5b3f/wallets/95257c5a522f
              destination: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
          description: 'Input to create the transaction.


            Choose one of the available messages.'
          allOf:
          - $ref: '#/components/schemas/v2InitiateTransactionRequestDetails'
        priority:
          $ref: '#/components/schemas/v2TransactionPriorityEnum'
        note:
          type: string
          description: 'A note to attach to the transaction.


            This note will be visible to all vault members.'
        designatedSigners:
          type: array
          example:
          - users/name@example.com
          items:
            type: string
          description: 'If the transaction is designated to be signed by a specific signer, this field should be set.


            Format: `users/{email}` or `users/{id}`


            Example: `["users/name@example.com"]` or `["users/a3e4f5"]`'
        validateOnly:
          type: boolean
          description: If set to true, the transaction will be validated but not created.
        requestId:
          type: string
          example: 4ba6b3b1-ee91-4dcf-a4b3-e4487d7f0f46
          description: 'An optional request ID to identify requests. Specify a unique request ID

            so that if you must retry your request, the server will know to ignore

            the request if it has already been completed. The server will guarantee

            that for at least 60 minutes after the first request.


            The request ID must be a valid UUID with the exception that zero UUID is

            not supported (00000000-0000-0000-0000-000000000000).'
        externalId:
          type: string
          description: 'A client-provided identifier for the transaction.


            Must be unique per vault. Can be used to correlate the transaction

            with an entity in an external system.'
        runSimulation:
          type: boolean
          description: Run a simulation against a blockchain node to get the estimated execution results of the transaction like balance changes.
        expireTime:
          type: string
          format: date-time
          description: 'The expiration time of the transaction.


            Example: `2025-06-10T12:30:05Z`'
        includeReferencedResources:
          type: boolean
          description: Include referenced resources in the response.
      required:
      - details
    StellarTransactionStellarOperation:
      type: object
      properties:
        sourceAccountAddress:
          $ref: '#/components/schemas/apiv2Address'
        rawBody:
          type: string
          format: byte
        decodedBody:
          $ref: '#/components/schemas/StellarTransactionDecodedOperationBody'
    TransactionTonTransactionMessage:
      type: object
      properties:
        address:
          type: string
          description: The destination of the call.
        amount:
          type: string
          description: Native Nanoton amount to send.
        payload:
          type: string
          title: 'The payload of the message.

            If not provided - This means this message is a contract deployment or a native transfer'
        stateInit:
          type: string
          description: The initial state of the message.
      required:
      - address
      - amount
    v2TransactionTonSignData:
      type: object
      properties:
        schemaCrc:
          type: string
          format: int64
          description: 'Indicates the layout of payload cell that in turn defines domain separation.

            This is a descriptor of the content of the cell.'
        cell:
          type: string
          description: The payload to sign.
        publicKey:
          type: string
          description: The public key of the signer.
        timestamp:
          type: string
          format: int64
          description: The time at which the signature was created.
        signature:
          type: string
          description: The signature of the typed data.
    v2TransactionStellarTransactionMemo:
      type: object
      properties:
        type:
          description: The type of the memo.
          allOf:
          - $ref: '#/components/schemas/v2TransactionStellarTransactionMemoTypeEnum'
        data:
          type: string
          description: The data of the memo.
      required:
      - type
      - data
    v2ReplaceTransactionResponse:
      type: object
      properties:
        transaction:
          description: The newly created transaction.
          allOf:
          - $ref: '#/components/schemas/v2Transaction'
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    v2WalletEVMDetails:
      type: object
      properties:
        address:
          type: string
          description: The address of the wallet.
          readOnly: true
    v2TronFeeEstimation:
      type: object
      properties:
        bandwidthUsed:
          type: string
          description: The bandwidth to be used by the transaction out of available account bandwidth.
        energyUsed:
          type: string
          description: The energy to be used by the transaction out of available account energy.
        totalSunUsed:
          type: string
          description: The estimated total sun to be burned by the transaction, including energy.
        bandwidth:
          description: Bandwidth resource fee breakdown.
          allOf:
          - $ref: '#/components/schemas/v2TronResourceFee'
        energy:
          description: Energy resource fee breakdown.
          allOf:
          - $ref: '#/components/schemas/v2TronResourceFee'
        accountActivationFee:
          description: Account activation fee, present when the transaction activates a new account.
          allOf:
          - $ref: '#/components/schemas/v2TronAccountActivationFee'
    v2Wallet:
      type: object
      properties:
        name:
          type: string
          example: vaults/1b25635a5b3f/wallets/95257c5a522f
          description: 'The resource name of the wallet.


            Format: `vaults/{vault_id}/wallets/{wallet_id}`'
          readOnly: true
        displayName:
          type: string
          example: DeFi wallet
          description: 'A human-readable name.


            Must match the regular expression `[a-zA-Z0-9\.,:\-''# _$]+$` and be shorter than 100 characters'
        external:
          type: boolean
          description: 'Whether this wallet is external.


            External wallets are wallets that are not managed by Utila.'
          readOnly: true
        archived:
          type: boolean
          description: Whether this wallet is archived.
          readOnly: true
        convertedValue:
          description: 'The converted value of all assets in this Wallet.

            Included only when `FULL` view is requested.


            Note: this is an estimate, and may be out of date.'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
        hasFrozenAssets:
          type: boolean
          example: true
          description: 'Some of the assets in this wallet are frozen due to a AML policy.

            Included only when `FULL` view is requested.'
          readOnly: true
        networks:
          type: array
          example:
          - networks/ethereum-mainnet
          items:
            type: string
          description: 'The resource names of the networks of the wallet. Can be set during creation and can be added later

            through the `CreateWalletAddress` method.'
        evmDetails:
          description: If this wallet contains an EVM network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2WalletEVMDetails'
        tronDetails:
          description: If this wallet contains a Tron network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/WalletTronDetails'
        tonDetails:
          description: If this wallet contains a Ton network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2WalletTonDetails'
        solanaDetails:
          description: If this wallet contains a Solana network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/WalletSolanaDetails'
        xrplDetails:
          description: If this wallet contains an XRPL network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/WalletXRPLDetails'
        createParams:
          description: Parameters only used during wallet creation. Not included in responses.
          allOf:
          - $ref: '#/components/schemas/WalletCreateParams'
        btcDetails:
          description: If this wallet contains a Bitcoin network, this field will be populated.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2WalletBTCDetails'
      required:
      - displayName
      - networks
    v2TransactionTronTransactionVoteWitness:
      type: object
      properties:
        ownerAddress:
          description: 'Voter address.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        votes:
          type: array
          items:
            $ref: '#/components/schemas/v2TransactionTronTransactionVoteWitnessVote'
          description: 'The votes to cast. Max 30 votes.


            Example: `[{"vote_address": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g", "vote_count": "1000"}]`'
      required:
      - votes
    TransactionTokenAllowance:
      type: object
      properties:
        approverAddress:
          description: The address of the approver.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        spenderAddress:
          description: The address of the spender.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        asset:
          type: string
          example: assets/native.ethereum-mainnet
          description: The asset to approve.
        amount:
          type: string
          description: 'The amount to approve (allowance) in asset units.


            Example: `1.1`.'
        miningPrice:
          description: The price of the asset at the time of the mining.
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
    apiUserRoleEnum:
      type: string
      enum:
      - ADMIN
      - SIGNER
      - VIEWER
      - OWNER
      - NON_SIGNING_OPERATOR
      - NON_SIGNING_ADMIN
    OperationBodySEP41TokenApproval:
      type: object
      properties:
        sourceAddress:
          type: string
          description: 'The address holding the balance of tokens the allowance is drawn

            from (the SEP41 `from` argument).


            A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        spenderAddress:
          type: string
          description: 'The address being authorized to spend the tokens held by

            `source_address` (the SEP41 `spender` argument).


            A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        contractAddress:
          type: string
          example: CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ
          description: 'The token whose allowance is being set.


            A contract address of a SEP41 token (example: `CB3WFHO46J3WGRAIARNT3XD4Z7NR5SZDNG3SVKN27GOTJAQGQFAH2KAJ`).'
        rawAmount:
          type: string
          description: 'The amount to be made available to `spender_address`.


            Example: `10000000`.'
        liveUntilLedgerNumber:
          type: string
          format: int64
          description: 'The ledger number where this allowance expires. Cannot be less than

            the current ledger number unless the amount is being set to 0.'
      required:
      - sourceAddress
      - spenderAddress
      - contractAddress
      - rawAmount
      - liveUntilLedgerNumber
    apiUserTypeEnum:
      type: string
      enum:
      - USER_ACCOUNT
      - SERVICE_ACCOUNT
    v2TransactionStellarTransaction:
      type: object
      properties:
        sourceAccountAddress:
          description: The source account of the transaction.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        sequenceNumber:
          type: string
          description: The sequence number of the transaction.
          readOnly: true
        fee:
          type: string
          format: int64
          description: The fee paid for the transaction in stroops.
          readOnly: true
        memo:
          description: The memo attached to the transaction.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2TransactionStellarTransactionMemo'
        timeBounds:
          description: The timebounds of the transaction.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/TransactionStellarTransactionStellarTimeBounds'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/StellarTransactionStellarOperation'
          description: The operations in the transaction supported by utila.
          readOnly: true
        rawXdrEnvelope:
          type: string
          format: byte
          title: The raw transaction payload
    TransactionThetaTransaction:
      type: object
      properties:
        sendTransaction:
          description: A send transaction that transfers THETA and TFUEL coins between addresses.
          allOf:
          - $ref: '#/components/schemas/ThetaTransactionSendTransaction'
      description: 'For Theta transaction: Low level transaction details.'
    v2TransactionTronTransactionWithdrawBalance:
      type: object
      properties:
        ownerAddress:
          description: 'The source of the transaction.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
    TransactionRequestOriginEnum:
      type: string
      enum:
      - WALLET_CONNECT
      - EXTENSION
      description: " - WALLET_CONNECT: Transaction received via WalletConnect connection.\n - EXTENSION: Transaction received via Extension - can not be validated by Utila."
    v2WalletAddressType:
      type: string
      enum:
      - MAIN
      - DEPOSIT
      - CHANGE
      description: " - MAIN: Main address (main address of the wallet).\n - DEPOSIT: Deposit address.\n - CHANGE: Change address."
    v2GetTransactionResponse:
      type: object
      properties:
        transaction:
          $ref: '#/components/schemas/v2Transaction'
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    v2TransactionTronTransactionFreezeBalanceV2:
      type: object
      properties:
        ownerAddress:
          description: 'The source of the transaction.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        amount:
          type: string
          example: '1500000'
          description: 'Amount of TRX to be staked, in SUN.


            Example: `1500000`.'
        resource:
          description: 'The resource to freeze.


            Can be one of the following:

            1. `BANDWIDTH`

            2. `ENERGY`'
          allOf:
          - $ref: '#/components/schemas/v2TransactionTronTransactionTronResourceEnum'
        asset:
          type: string
          example: assets/native.tron-mainnet
          description: 'The asset that is being staked.


            Example: `assets/native.tron-mainnet`.'
    apiv2TronTransactionUnDelegateResource:
      type: object
      properties:
        ownerAddress:
          type: string
          description: 'The source of the transaction.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
        resource:
          description: 'The type of resource to undelegate.


            Can be one of the following:

            1. `BANDWIDTH`

            2. `ENERGY`'
          allOf:
          - $ref: '#/components/schemas/apiv2TronTransactionTronResourceEnum'
        amount:
          type: string
          example: '1500000'
          description: 'The amount of the delegated resource to undelegate, in SUN.


            Example: `1500000`.'
        receiverAddress:
          type: string
          description: 'The address to undelegate the resource from.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
      required:
      - ownerAddress
      - resource
      - amount
      - receiverAddress
    v2TransactionTronTransactionDelegateResource:
      type: object
      properties:
        ownerAddress:
          description: 'The source of the transaction.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        resource:
          description: 'The resource to delegate.


            Can be one of the following:

            1. `BANDWIDTH`

            2. `ENERGY`'
          allOf:
          - $ref: '#/components/schemas/v2TransactionTronTransactionTronResourceEnum'
        amount:
          type: string
          example: '1500000'
          description: 'The amount of the resource to delegate, in SUN.


            Example: `1500000`.'
        asset:
          type: string
          example: assets/native.tron-mainnet
          description: 'The asset that is being delegated.


            Example: `assets/native.tron-mainnet`.'
        receiverAddress:
          description: 'The address to delegate the resource to.


            A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        lock:
          type: boolean
          description: 'Whether to lock the delegation.


            Default: false.'
        lockPeriod:
          type: string
          description: 'The period to lock the delegation, in block numbers, 1 block ≈ 3 seconds.


            Example: `1000`.'
    v2TransactionPriorityEnum:
      type: string
      enum:
      - LOW
      - NORMAL
      - HIGH
      description: "Generic priority enum for transactions.\nTranslates to network specific priority values.\n\n - LOW: Low priority.\n - NORMAL: Normal priority. The default value.\n - HIGH: High priority."
    apiv2TronTransactionWithdrawExpireUnfreeze:
      type: object
      properties:
        ownerAddress:
          type: string
          description: 'The source of the transaction.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
      required:
      - ownerAddress
    BTCTransferOutput:
      type: object
      properties:
        destination:
          type: string
          description: 'The destination of the transfer.


            Can be one of the following:

            1. A raw string address (example: `bc1q3vfght7rln2c3733dl42navt8pslfya7talfns`)

            2. A wallet: `vaults/{vault_id}/wallets/{wallet_id}` (resolves to the wallet''s main deposit address)

            3. A specific wallet address: `vaults/{vault_id}/wallets/{wallet_id}/addresses/{address_id}`'
        amount:
          type: string
          example: '0.001'
          description: 'The amount to send, in decimal form.


            Example: `"0.001"` (0.001 BTC).'
        payFeeFromAmount:
          type: boolean
          description: 'If set to true, the transaction fee will be deducted from this output''s amount.


            At most one output may have this set to true.'
      description: A single output destination.
      required:
      - destination
      - amount
    v2TransactionStellarTransactionMemoTypeEnum:
      type: string
      enum:
      - TEXT
      - ID
      - HASH
      - RETURN
      description: " - TEXT: A text memo. Limited to 28 bytes.\n - ID: A id memo. An unsigned 64-bit integer.\n - HASH: A hash memo. A hex string of the hash with a `0x` prefix.\n - RETURN: A return memo. A hex string of the return hash with a `0x` prefix."
    v2WalletBTCDetails:
      type: object
      properties:
        btcNetworkDetails:
          type: array
          items:
            $ref: '#/components/schemas/v2WalletBTCDetailsBTCNetworkDetails'
          readOnly: true
    v2SuiTokenDetails:
      type: object
      properties:
        gasless:
          type: boolean
    TransactionTransfer:
      type: object
      properties:
        sourceAddress:
          description: Transfer source address. Not populated for BTC transactions.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        destinationAddress:
          description: Transfer destination address.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        amount:
          type: string
          description: Amount of the transfer.
        asset:
          type: string
          example: assets/native.ethereum-mainnet
          description: Asset name.
        miningPrice:
          description: The price of the asset at the time of the mining.
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
        note:
          type: string
          description: An optional note to attach to the specific transfer (possible for batch transfers).
    v2InitiateTransactionRequestDetails:
      type: object
      properties:
        assetTransfer:
          description: An abstract transfer.
          allOf:
          - $ref: '#/components/schemas/v2AssetTransfer'
        assetBatchTransfer:
          description: A batch transfer.
          allOf:
          - $ref: '#/components/schemas/v2BatchAssetTransfer'
        evmTransaction:
          description: An EVM transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2EVMTransaction'
        evmPersonalSign:
          description: An EVM personal sign message.
          allOf:
          - $ref: '#/components/schemas/v2EVMPersonalSign'
        evmSignTypedDataV4:
          description: An EVM sign typed data V4 message.
          allOf:
          - $ref: '#/components/schemas/v2EVMSignTypedDataV4'
        evmAccountDelegation:
          description: An EVM authorization message.
          allOf:
          - $ref: '#/components/schemas/apiv2EVMAccountDelegation'
        exchangeWithdrawal:
          description: An exchange withdrawal.
          allOf:
          - $ref: '#/components/schemas/apiv2ExchangeWithdrawal'
        solanaSerializedTransaction:
          description: A serialized Solana transaction.
          allOf:
          - $ref: '#/components/schemas/v2SolanaSerializedTransaction'
        tronTriggerSmartContract:
          description: 'Deprecated: Use `tron_transaction` with `trigger_smart_contract` instead.'
          allOf:
          - $ref: '#/components/schemas/v2TronTriggerSmartContract'
        tronTransaction:
          description: A Tron transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2TronTransaction'
        suiRawTransaction:
          description: An Sui raw transaction.
          allOf:
          - $ref: '#/components/schemas/v2SuiRawTransaction'
        xrplRawTransaction:
          description: An XRPL raw transaction.
          allOf:
          - $ref: '#/components/schemas/v2XRPLRawTransaction'
        stellarRawTransaction:
          description: A Stellar raw transaction.
          allOf:
          - $ref: '#/components/schemas/v2StellarRawTransaction'
        stellarTransaction:
          description: A Stellar transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2StellarTransaction'
        btcTransfer:
          description: A transfer for Bitcoin and similar UTXO-based blockchains, with explicit input control.
          allOf:
          - $ref: '#/components/schemas/v2BTCTransfer'
    v2EVMTransactionParams:
      type: object
      properties:
        gasSettings:
          description: Custom gas settings. Used only if generic priority is not set.
          allOf:
          - $ref: '#/components/schemas/v2EVMPriority'
        nonce:
          type: string
          description: Optional nonce for the transaction. If omitted, Utila will determine the nonce automatically.
    v2WalletAddress:
      type: object
      properties:
        name:
          type: string
          example: vaults/1b25635a5b3f/wallets/67af44031584/addresses/519c67ddae33
          description: 'The resource name of the WalletAddress.


            Format: `vaults/{vault_id}/wallets/{wallet_id}/addresses/{address_id}`'
          readOnly: true
        displayName:
          type: string
          example: Hal's Address 3
          description: 'A human-readable name.

            Relevant only for deposit addresses.


            Must match the regular expression `[a-zA-Z0-9\.,:\-''# _$]+$` and be shorter than 100 characters'
        network:
          type: string
          example: networks/bitcoin-mainnet
          description: 'The resource name of the network of the address.


            Format: `networks/{network_id}`'
        address:
          type: string
          example: bc1q04pum57enmfgcu3tu5gwqlmza5n7tchky0gjvu
          description: The blockchain address.
          readOnly: true
        format:
          example: BITCOIN_P2WPKH
          description: Address format.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/WalletAddressFormat'
        key:
          type: string
          example: vaults/1b25635a5b3f/keys/95257c5a522f
          description: 'The resource name of the MPC key this address was derived from.


            Format: `vaults/{vault_id}/keys/{key_id}`'
          readOnly: true
        keyDerivationPath:
          type: array
          example:
          - 44
          - 0
          - 0
          - 0
          - 3
          items:
            type: string
            format: int64
          description: Derivation path of the address from the MPC key.
          readOnly: true
        type:
          example: DEPOSIT
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v2WalletAddressType'
        note:
          type: string
          example: This is a note
          title: note
      required:
      - network
    v2ScreeningStateEnum:
      type: string
      enum:
      - SKIPPED
      - PENDING
      - FAILED
      - READY
      description: "The state of the AML report.\n\n - SKIPPED: No AML report was requested for the transaction.\n - PENDING: The AML report is still being processed by the provider.\n - FAILED: The AML report was not generated due to an error.\n - READY: The AML report was successfully generated."
    v2TransactionStateEnum:
      type: string
      enum:
      - AWAITING_APPROVAL
      - AWAITING_AML_POLICY_CHECK
      - DECLINED_BY_AML_POLICY
      - AWAITING_POLICY_CHECK
      - AWAITING_SIGNATURE
      - SIGNED
      - AWAITING_PUBLISH
      - PUBLISHED
      - MINED
      - MINED_FAILED
      - FAILED
      - DECLINED
      - REPLACED
      - CANCELED
      - DROPPED
      - CONFIRMED
      - EXPIRED
      description: "The state of the transaction.\n\n - AWAITING_APPROVAL: Transaction requires approving votes.\n - AWAITING_AML_POLICY_CHECK: The transaction is waiting for the AML policy check to be completed.\nRelevant only for outgoing transactions.\n - DECLINED_BY_AML_POLICY: Transaction was declined by the AML policy Relevant only for outgoing transactions.\n - AWAITING_POLICY_CHECK: Transaction is waiting for the policy check to be completed.\n - AWAITING_SIGNATURE: Transaction is approved and ready to be signed.\n - SIGNED: Transaction is signed but not yet published.\n - AWAITING_PUBLISH: Transaction has been sent to the publishing queue.\n - PUBLISHED: Transaction has been published to the blockchain's mem-pool.\n - MINED: Transaction has been included in a block successfully.\n - MINED_FAILED: Transaction has entered a block but in a failed state (e.g. a failed smart contract call).\n - FAILED: Transaction has entered a block but in a failed state and was confirmed as such by multiple blocks\n - DECLINED: Transaction was declined by a policy check.\n - REPLACED: Transaction was replaced by a new transaction (same nonce or RBF).\n - CANCELED: Transaction was canceled by its initiator or by an admin.\n - DROPPED: Transaction was dropped by the network without being included in a block.\n - CONFIRMED: Transaction has been confirmed by multiple blocks in the blockchain.\n - EXPIRED: Transaction was expired after a certain amount of time."
    TransactionsEstimateTransactionFeeBody:
      type: object
      properties:
        details:
          description: 'Input to estimate the transaction fee.


            Choose one of the available messages.'
          allOf:
          - $ref: '#/components/schemas/v2EstimateTransactionFeeRequestDetails'
        priority:
          title: Priority
          allOf:
          - $ref: '#/components/schemas/v2TransactionPriorityEnum'
      required:
      - details
    v2EstimateTransactionFeeRequestDetails:
      type: object
      properties:
        assetTransfer:
          description: An abstract transfer.
          allOf:
          - $ref: '#/components/schemas/v2AssetTransfer'
        assetBatchTransfer:
          description: A batch transfer.
          allOf:
          - $ref: '#/components/schemas/v2BatchAssetTransfer'
        evmTransaction:
          description: An EVM transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2EVMTransaction'
        tronTriggerSmartContract:
          description: 'Deprecated: Use `tron_transaction` with `trigger_smart_contract` instead.'
          allOf:
          - $ref: '#/components/schemas/v2TronTriggerSmartContract'
        tronTransaction:
          description: A Tron transaction.
          allOf:
          - $ref: '#/components/schemas/apiv2TronTransaction'
        btcTransfer:
          description: A transfer for Bitcoin and similar UTXO-based blockchains, with explicit input control.
          allOf:
          - $ref: '#/components/schemas/v2BTCTransfer'
      title: Transaction type
    v2ReferencedResource:
      type: object
      properties:
        asset:
          description: The asset resource.
          allOf:
          - $ref: '#/components/schemas/v2Asset'
        wallet:
          description: The wallet resource.
          allOf:
          - $ref: '#/components/schemas/v2Wallet'
        walletAddress:
          description: The wallet address resource.
          allOf:
          - $ref: '#/components/schemas/v2WalletAddress'
        user:
          description: The user resource.
          allOf:
          - $ref: '#/components/schemas/v2User'
        walletconnectSession:
          description: The wallet connect session resource.
          allOf:
          - $ref: '#/components/schemas/v2WalletconnectSession'
        addressBookEntry:
          description: The addressbook entry resource.
          allOf:
          - $ref: '#/components/schemas/v2AddressBookEntry'
        transaction:
          description: the transaction entry resource.
          allOf:
          - $ref: '#/components/schemas/v2Transaction'
    v2EVMTransactionGas:
      type: object
      properties:
        gasLimit:
          type: string
          format: int64
          description: The amount of gas to use for the transaction.
        gasUsed:
          type: string
          description: The amount of gas used by the transaction.
        gasPrice:
          type: string
          description: 'A `0x`-prefixed hex string representing the gas price of the transaction.


            Used for legacy transactions (non EIP-1559).'
        maxPriorityFeePerGas:
          type: string
          description: 'A `0x`-prefixed hex string representing the maximum prioriy fee per gas unit the transaction can pay.


            Used for dynamic transactions (EIP-1559).'
        maxFeePerGas:
          type: string
          description: 'A `0x`-prefixed hex string representing the maximum fee per gas unit the transaction can pay.


            Used for dynamic transactions (EIP-1559).'
    TransactionRequestDappInfo:
      type: object
      properties:
        url:
          type: string
          description: The URL of the dApp.
      description: Details of the dApp - reported from the transaction initiator, as this cannot be validated by Utila.
    TransactionStellarTransactionStellarTimeBounds:
      type: object
      properties:
        minUnixTime:
          type: string
          format: int64
        maxUnixTime:
          type: string
          format: int64
    v2TronTransactionFee:
      type: object
      properties:
        usedSun:
          type: string
          description: The amount of sun used by the transaction.
        convertedValue:
          description: The converted amount of sun used by the transaction.
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
        bandwidth:
          description: Bandwidth resource fee breakdown.
          allOf:
          - $ref: '#/components/schemas/v2TronResourceFee'
        energy:
          description: Energy resource fee breakdown.
          allOf:
          - $ref: '#/components/schemas/v2TronResourceFee'
        accountActivationFee:
          description: Account activation fee, present when the transaction activates a new account.
          allOf:
          - $ref: '#/components/schemas/v2TronAccountActivationFee'
    v2SuiRawTransaction:
      type: object
      properties:
        network:
          type: string
          example: networks/ethereum-mainnet
          description: 'The resource name of the network of the transaction.


            Format: `networks/{network_id}`.'
        sender:
          type: string
          title: 'The source of the transaction. A `0x`-prefixed hex string address, must be matched by a wallet address in the current vault (example: `0xde87c27b63f5c0fd615065552511431f29f5e3f62278b0166014576cd5as4b165`)'
        txBcsBytes:
          type: string
          format: byte
          description: The Sui transaction payload serialized in BCS format.
        publish:
          type: boolean
          description: 'Set to true if you wish for Utila to automatically broadcast the transaction after it is signed. Default: true.'
      required:
      - network
      - sender
      - txBcsBytes
    AssetTransferXRPLOptions:
      type: object
      properties:
        destinationTag:
          type: string
          description: 'Destination tag for XRPL (XRP) transfers.


            Decimal string of a 32-bit unsigned integer in the range 0..4294967295 (XRPL DestinationTag).

            Empty string is invalid when this field is set; omit the field entirely when no tag applies.'
      title: Blockchain specific options for XRPL Asset Transfer
    v2EstimateTransactionFeeResponse:
      type: object
      properties:
        evmFee:
          $ref: '#/components/schemas/v2EVMFeeEstimation'
        tronFee:
          $ref: '#/components/schemas/v2TronFeeEstimation'
        totalFee:
          type: string
          description: The estimated total fee for the transaction.
        convertedTotalFee:
          description: The estimated total fee for the transaction, converted to fiat currency.
          allOf:
          - $ref: '#/components/schemas/v2ConvertedValue'
        gasless:
          type: boolean
          description: 'True when this transfer is applied automatically as a gasless transfer, in which case

            total_fee is "0". Pairs with the per-asset AssetTokenInfo.sui_token_details.gasless indicator.'
    v2GetLatestTransactionSimulationResponse:
      type: object
      properties:
        transactionSimulation:
          description: The latest transaction simulation.
          allOf:
          - $ref: '#/components/schemas/v2TransactionSimulation'
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    v2StellarTransactionOperation:
      type: object
      properties:
        sourceAccountAddress:
          type: string
          description: 'The source account address. If not provided, the top-level source account is used.


            A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        body:
          $ref: '#/components/schemas/OperationBody'
      required:
      - body
    v2ListTransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/v2Transaction'
          description: The transactions returned.
        nextPageToken:
          type: string
          description: 'A token, which can be sent as `pageToken` to retrieve the next page.

            If this field is omitted, there are no subsequent pages.'
        totalSize:
          type: integer
          format: int32
          description: Total number of items in the response, regardless of pagination.
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    v2BatchGetTransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/v2Transaction'
          description: The transactions retrieved.
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    apiv2EVMTransactionAuthorizationDetails:
      type: object
      properties:
        authorizationList:
          type: array
          items:
            $ref: '#/components/schemas/apiv2EVMTransactionAuthorization'
          description: The list of authorizations.
      required:
      - authorizationList
    WalletTronDetails:
      type: object
      properties:
        address:
          type: string
          description: The address of the wallet.
          readOnly: true
    v2TronTriggerSmartContract:
      type: object
      properties:
        network:
          type: string
          example: networks/tron-mainnet
          description: 'The resource name of the network of the transaction.


            Format: `networks/{network_id}`.'
        ownerAddress:
          type: string
          description: 'The source of the transaction.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
        contractAddress:
          type: string
          description: 'The smart contract to trigger.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
        callValue:
          type: string
          format: int64
          description: 'The amount of SUN passed into the contract (1 TRX = 1,000,000 SUN).


            Example: `500000`.'
        data:
          type: string
          example: a9059cbb0000000000000000000000002ed5dd8a98aea00ae32517742ea5289761b2710e0000000000000000000000000000000000000000000000000000000ba43b7400
          description: 'Hex encoded transaction data.


            Example: `a9059cbb0000000000000000000000002ed5dd8a98aea00ae32517742ea5289761b2710e0000000000000000000000000000000000000000000000000000000ba43b7400`.'
      required:
      - network
      - ownerAddress
      - contractAddress
    WalletXRPLDetails:
      type: object
      properties:
        signingPubKey:
          type: string
          example: ED5F5AC8B98974A3CA843326D9B88CEBD0560177B973EE0B149F782CFAA06DC66A
          description: 'The public key of the wallet, hex-encoded as expected by XRPL.


            For ed25519 keys this starts with `ED`.'
          readOnly: true
    apiv2StellarTransactionMemo:
      type: object
      properties:
        type:
          description: The type of the memo.
          allOf:
          - $ref: '#/components/schemas/apiv2StellarTransactionMemoTypeEnum'
        data:
          type: string
          description: 'The data of the memo. See documentation on enum values for the exact format.


            See https://developers.stellar.org/docs/learn/fundamentals/transactions/operations-and-transactions#memo for more information.'
      required:
      - type
      - data
    apiv2EVMAccountDelegation:
      type: object
      properties:
        fromAddress:
          type: string
          description: 'The source of the transaction.


            A `0x`-prefixed hex string address, (example: `0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48`)'
        contractAddress:
          type: string
          description: The address of the contract the account is delegating to.
        chainId:
          type: string
          description: 'The chain ID of the transaction.

            If not provided, the chain ID will be 0 and apply to all chains.'
        nonce:
          type: string
          format: int64
          description: 'The nonce of the transaction.

            If not provided, the nonce will be the next available nonce for signer.'
        offsetNonce:
          type: boolean
          description: 'If set to true, nonce must not be set, will offset the calculated nonce by +1.


            This is useful for self-delegation.'
      required:
      - fromAddress
      - contractAddress
    v2StellarRawTransaction:
      type: object
      properties:
        network:
          type: string
          example: networks/stellar-mainnet
          description: 'The resource name of the network of the transaction.


            Format: `networks/{network_id}`.'
        sourceAddress:
          type: string
          description: 'The source of the transaction.


            A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).

            The address which will publish the transaction.'
        xdrEnvelope:
          type: string
          format: byte
          description: The raw transaction envelope in XDR format.
        publish:
          type: boolean
          description: 'Set to true if you wish for Utila to automatically broadcast the transaction after it is signed. Default: true.'
        useLatestSequenceNumber:
          type: boolean
          description: 'Set to false if you don''t want Utila to update the sequence number before signing.

            If not provided, will default to `true`.'
      required:
      - network
      - sourceAddress
      - xdrEnvelope
    v2EVMPriority:
      type: object
      properties:
        gasLimit:
          type: string
          format: int64
          description: The amount of gas to use for the transaction.
        gasPrice:
          type: string
          description: 'A `0x`-prefixed hex string representing the gas price of the transaction.


            Used for legacy transactions (non EIP-1559).'
        maxPriorityFeePerGas:
          type: string
          description: 'A `0x`-prefixed hex string representing the maximum prioriy fee per gas unit the transaction can pay.


            Used for dynamic transactions (EIP-1559).'
        maxFeePerGas:
          type: string
          description: 'A `0x`-prefixed hex string representing the maximum fee per gas unit the transaction can pay.


            Used for dynamic transactions (EIP-1559).'
    SubstrateTransactionDecodedCall:
      type: object
      properties:
        pallet:
          type: string
          title: 'The pallet to be called, for example: "Balances"'
        palletIndex:
          type: integer
          format: int32
          title: 'The index of the pallet, for example: 2'
        method:
          type: string
          title: 'The method to be called, for example: "transfer_allow_death"'
        methodIndex:
          type: integer
          format: int32
          title: 'The index of the method, for example: 4'
        args:
          type: array
          items:
            $ref: '#/components/schemas/DecodedCallArg'
          title: The arguments of the call
    apiv2TronTransactionFreezeBalanceV2:
      type: object
      properties:
        ownerAddress:
          type: string
          description: 'The source of the transaction.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
        amount:
          type: string
          example: '1500000'
          description: 'Amount of TRX to be staked, in SUN.


            Example: `1500000`.'
        resource:
          description: 'The type of resource to obtain by staking TRX.


            Can be one of the following:

            1. `BANDWIDTH`

            2. `ENERGY`'
          allOf:
          - $ref: '#/components/schemas/apiv2TronTransactionTronResourceEnum'
      required:
      - ownerAddress
      - amount
      - resource
    TransactionAleoRecord:
      type: object
      properties:
        commitment:
          type: string
        amount:
          type: string
      description: 'A fully decrypted Aleo record.

        Asset is inherited from the parent AleoOperation.'
    TransactionAleoOperation:
      type: object
      properties:
        program:
          type: string
          description: 'e.g. "credits.aleo", "usad_stablecoin.aleo".

            This also identifies the asset being operated on in this transition.'
        transition:
          type: string
          description: e.g. "transfer_private", "join".
        asset:
          type: string
          description: The asset identifier for this transition (derived from program_id).
        internal:
          type: boolean
          description: 'True for child transitions generated by internal program calls

            (e.g. credits.aleo/join called inside autojoin_credits_15_16.aleo/join_16).'
        transferPublic:
          $ref: '#/components/schemas/TransactionTransferPublic'
        transferPublicAsSigner:
          $ref: '#/components/schemas/TransactionTransferPublicAsSigner'
        transferPrivate:
          $ref: '#/components/schemas/TransactionTransferPrivate'
        transferPrivateToPublic:
          $ref: '#/components/schemas/TransactionTransferPrivateToPublic'
        transferPublicToPrivate:
          $ref: '#/components/schemas/TransactionTransferPublicToPrivate'
        join:
          $ref: '#/components/schemas/TransactionJoinOperation'
        unknown:
          $ref: '#/components/schemas/TransactionUnknownOperation'
      description: AleoOperation represents a single execution transition within a transaction.
    apiv2VaultContext:
      type: object
      properties:
        vaultId:
          type: string
          readOnly: true
        role:
          title: The user's role in this vault
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/apiUserRoleEnum'
        status:
          title: The user's status in this vault
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/apiUserStatusEnum'
    v2InitiateTransactionResponse:
      type: object
      properties:
        transaction:
          description: The created transaction.
          allOf:
          - $ref: '#/components/schemas/v2Transaction'
        referencedResources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2ReferencedResource'
          description: 'A mapping of the referenced resources in the message.

            The key is the resource name and the value is the corresponding resource.'
        referencedAddressesInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v2NetworkAddressInfo'
          description: 'A mapping of the referenced addresses in the message.

            The key is the address and the value is the corresponding address info.'
    apiv2TronTransactionCancelAllUnfreezeV2:
      type: object
      properties:
        ownerAddress:
          type: string
          description: 'The source of the transaction.


            Can be one of the following:

            1. A hex string address, must start with 41 (example: `418840E6C55B9ADA326D211D818C34A994AECED808`)

            2. A base58 string address (example: `TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g`)'
      required:
      - ownerAddress
    WalletAddressFormat:
      type: string
      enum:
      - BITCOIN_P2PKH
      - BITCOIN_P2WPKH
      - EVM
      - TRON_BASE58
      - BASE58
      - TON_NON_BOUNCEABLE
      - SUBSTRATE_58
      - BITCOIN_P2TR
      description: " - BITCOIN_P2PKH: Bitcoin P2PKH address format.\n - BITCOIN_P2WPKH: Bitcoin P2WPKH address format.\n - EVM: Ethereum address format.\n - TRON_BASE58: Tron base58 address format.\n - BASE58: Solana address format.\n - TON_NON_BOUNCEABLE: Ton address format.\n - SUBSTRATE_58: Substrate address format.\n - BITCOIN_P2TR: Bitcoin P2TR (Taproot, BIP-341) address format."
    TransactionAptosTransaction:
      type: object
      properties:
        sender:
          description: The source of the transfer. A `0x`-prefixed hex string address.
          allOf:
          - $ref: '#/components/schemas/apiv2Address'
        sequenceNumber:
          type: string
          format: int64
        payloadBytes:
          type: string
          format: byte
        decodedPayload:
          $ref: '#/components/schemas/v2DecodedAptosTransactionPayload'
        maxGasAmount:
          type: string
          format: int64
        gasUnitPrice:
          type: string
          format: int64
        expirationTime:
          type: string
          format: date-time
          description: In seconds.
        chainId:
          type: string
          format: int64
    OperationBodyCreateAccount:
      type: object
      properties:
        destinationAddress:
          type: string
          description: 'A Stellar address (example: `GAAAAAAAACGC6SEYFBKQ33QJ2FXVEP3EJ6BE2FCVW2SSP6X5TBNQYQ`).'
        rawStartingBalance:
          type: string
          description: 'Example: `10000000` (1 XLM in stroops).'
      required:
      - destinationAddress
      - rawStartingBalance
    ThetaTransactionSendTransaction:
      type: object
      properties:
[...]
